body {
  font-family: AnjaliOldLipi;
}

.title {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.form-container {
  margin-top: 2em;
}
